{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2" style="padding: 20px;background-color: lightgray;">
    <h1 style="text-align: center;padding-bottom:20px;border-bottom: 2px solid black;">{{ category | title }}</h1>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":300" }}...</p>
    <a href="{% url 'blog_detail' post.pk%}" ><button type="button" class="btn btn-success" style="margin-bottom: 20px;">Details</button></a>
    {% endfor %}
</div>
{% endblock %}