{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2" style="padding: 20px;background-color:lightgray;">
    <h1>{{ post.title }}</h1>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | linebreaks }}</p>
    <h3>Leave a comment? <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Click Here
      </button></h3>

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Comment</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form action="/blog/{{ post.pk }}/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.author }}
                        </div>
                        <div class="form-group">
                            {{ form.body }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <h3>Comments:</h3>
    {% for comment in comments %}
    <div class="media p-3">
        <div class="media-body">
          <h4>{{ comment.author }} <small><i>Posted on {{comment.created_on.date }}&nbsp;</i></small></h4>
          <p style="padding-left: 15px;">{{ comment.body }}</p>      
        </div>
    </div>
    <hr>
    {% endfor %} 
</div>
{% endblock %}