<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Document</title>
  <style>
    *{
      padding: 0;
      margin: 0;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'project_index' %}">Mukit's Portfolio</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home_content' %}">Home</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'project_index' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog_index' %}">Blog</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'home_content' %}#about_sec">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<main>
  <div>
    {% block page_content %}{% endblock %}
  </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small unique-color-dark"
style="background-color:floralwhite;">
<div class="social" style="border-bottom: 2px solid black;border-top: 2px solid black;">
  <div class="container">

    <!-- Grid row-->
    <div class="row py-4 d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
        <h6 class="mb-0">Get connected with us on social networks!</h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-7 text-center text-md-right">

        <!-- Facebook -->
        <a class="fb-ic" href="https://www.facebook.com/profile.php?id=100009577267762" target="_blank">
          <i class="fa fa-facebook-f fa-2x white-text mr-4"> </i>
        </a>
        <!--Instagram-->
        <a class="ins-ic" href="https://www.instagram.com/__mukit/" target="_blank">
          <i class="fa fa-instagram fa-2x white-text"> </i>
        </a>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
</div>
<!-- Footer Links -->
<div class="container text-center text-md-left mt-5">

  <!-- Grid row -->
  <div class="row mt-2" style="text-align: center;">

    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold">Useful links</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <a href="https://www.w3schools.com/" target="_blank">W3 Schools</a>
      </p>
      <p>
        <a href="https://www.freecodecamp.org/" target="_blank">Free Code Camp</a>
      </p>
      <p>
        <a href="https://www.datacamp.com/" target="_blank">Data Camp</a>
      </p>
      <p>
        <a href="https://www.geeksforgeeks.org/" target="_blank">Geeks For Geeks</a>
      </p>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-4">

      <!-- Links -->
      <h6 class="text-uppercase font-weight-bold" id="contact_sec">Contact</h6>
      <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
      <p>
        <i class="fa fa-home mr-3"></i> Gollamari,Khulna</p>
      <p>
        <i class="fa fa-envelope mr-3"></i> mukithasanpranto4@gmail.com</p>
      <p>
        <i class="fa fa-phone mr-3"></i> +880 1980492420</p>


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3" style="background-color: dimgrey;">© 2020 Copyright:
  <a href="{% url 'home_content' %}" style="color: black;"> Mukit_Portfolio.com</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

</body>

</html>