{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="detail" style="padding: 20px;background-color: lightgray;">
    <h1 style="text-align: center;padding: 20px;">{{ project.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{% static project.image %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the project:</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ project.technology }}</p>
        </div>
    </div>
</div>
{% endblock %}